 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Pacifico', cursive;
 }
 /****************************************************header******************************************************************************/
 .header{
    background-image: url(images/drew-coffman-1872.jpg);
   background-size: cover;
    background-position: center center;
    height: 100dvh;
    /*overflow: auto;*/
}
.pos{
    width: 35px;
    height: 70px;
    background-color:whitesmoke;
    position: fixed;
    right: 0;
    top: 300px;
}
.header-cap{
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
}
.container{
    width: 90%;
    margin: auto;
}

.nav-logo{
    width:13% ;
    float: left;
    margin-top: 10px;

}
.nav-logo img{
    width: 100%;
}
.nav-links ul{
    float: right;
    margin-top: 10px;
}
.nav-links ul li{
    list-style-type: none;
    float: left;
    padding: 15px;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
}
.clr{
    clear: both;
}
.header-cap{
    margin-top: 100px;
}
.header-cap p{
    font-size: 22px;

}
.header-cap h1{
    margin: 30px;
    font-weight: bold;
    font-size: 55px;
}
.btn{
    color: white;
    padding: 20px;
    border-radius: 10%;
    margin: 30px 20px;
}
.header-cap .btn1{
    background-color: #8e7754;
    border-width:0 ;
}
.header-cap .btn2{
    background-color: transparent;
    border: 2px solid white;
}
.scroll{
    width: 30px;
    height: 50px;
    border: 2px solid white;
    border-radius:40% ;
    margin: auto;
    margin-top: 10px;
}
/*************************************************About*********************************************************************************/
.about{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.about-img{
    width: 40%;
    float: left;
    margin: 50px 0;
}
.about-img img{
width: 100%;
}
.about-cap{
    width: 50%;
    float: right;
    margin: 40px 0;
    font-size: 20px;
    color: #686868;
}
.about-cap h2{
    color: black;
}
.about-list{
    text-align: left;
}
.about-cap p{
    margin: 20px 0;
}
.about-list ul li{
    margin: 15px;
    list-style-type: none;
}
.about-list ul li img{
    vertical-align: middle;
}
/*******************************************************************offer*********************************************************/
.offer{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    background-color: #eaedf077;
    
}
.offer-cap{
    width: 50%;
    float: left;
    text-align: center;
    margin: 10px 20px;
    color: #686868;
    font-size: 20px;
}
.offer-cap h2{
    color: black;
}
.para{ 
    margin: 30px 0;
}

.offer-img{
width: 40%;
float: right;
margin: 50px 0;
}
.offer-img img{
    width: 100%;
}
/**************************************************************************************Gallary*****************************************************/
.gallery{
    width: 90%;
    margin: auto;
    margin-top: 50px;
   text-align: center;
   color: #686868;

}
.gallery p{
    margin: 10px;
}
.gallery h2{
    color: black;
}
 .meal{
    width: 33%;
    float: left;
}
.meal img{
    width: 100%;
}
.inner{
    padding: 30px;
}
.inner h4{
    color: black;
}
/*********************blog***********************************/
.blog{
    width: 90%;
    margin: auto;
    margin-top: 500px;
    color: #686868;
    background-color: #eaedf077;
    
}
.blog-cap{
    width: 40%;
    text-align: center;
    float: left;

} 
.blog-cap h2{
    color: black;
}
.blog-list ul li{
list-style-type: none;
text-align: left;
margin: 10px;
}
.blog-list ul li img{
    vertical-align: middle;
}
.para-list{
    text-align: left;
    margin: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.blog-map{
    width: 50%;
    float: right;}
/***************************************Contact******************************/
.contact{
    /*width: 90%;  */ 
     margin: auto;
    margin-top: 50px;
    padding: 0 10px;
    background-color: #4b4a4a;
    color: #9c9a9a;
}
.contact-row{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.contact-row p{
    margin: 20px 0;
}
.contact-row h2{
    color: white;
    text-align: center;
}
.contact-row ul li{
    list-style-type: none;
    margin: 20px 0;
}
.contact-row ul li img{
    vertical-align: middle;
    margin: 0 10px;
}
/*******************************footer******************************/
.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #2b2a2a;
}
.footer-img{
    text-align: center;
    margin: auto;
    width: 30%;
}
.footer-img img{
    width: 100%;
}

.footer-img p{
color: white;
}
.footer-img p{
    margin: 30px;
}